<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:oxm="http://www.springframework.org/schema/oxm"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/oxm
        http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd">

        <context:annotation-config />

        <context:component-scan base-package="main.java.com.employeeServices.*" />


  <bean id="entityManagerFactory"
    class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="employeeServicesPU" />
    <property name="dataSource" ref="dataSource" />
 <property name="jpaProperties">
  <props>
  <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
  <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
  <prop key="hibernate.show_sql">true</prop>  
  </props>
 </property>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

<!-- <import resource="module/db-context.xml" /> -->

<!-- <bean id="employeeServicesController" class="main.java.com.employeeServices.controller.EmployeeServicesController"> -->
<!--     <property name="employeeService" ref="employeeService" /> -->
<!--   </bean> -->
  
<!-- <bean id="employeeService" class="main.java.com.employeeServices.services.impl.EmployeeServiceImpl"> -->
<!--     <property name="employeeDao" ref="employeeDao" /> -->
<!--   </bean> -->
<!-- <bean id="employeeDao" class="main.java.com.employeeServices.DAO.EmployeeDAOImpl"> -->
<!-- <property name="entityManager" ref="entityManagerFactory" /> -->
<!--   </bean> -->


</beans>